<h1>Add a New Job</h1>
<form action='/jobs/new' method="POST">
    <label for="companyName">Enter Company Name: </label>
    <input type="text" name="companyName" placeholder="Enter Company Name" /><br>

    <label for="jobTitle">Enter Job Title: </label>
    <input type="text" name="jobTitle" placeholder="Enter Job Title" /><br>

    <label for="yearsWorked">Enter Years Worked: </label>
    <input type="text" name="yearsWorked" placeholder="Enter Years Workded" /><br>

    <label for="description">Enter Description: </label>
    <input type="text" name="description" placeholder="Enter Description" /><br>

    <button type="submit">Add Job</button>
</form>